.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
.caja1 {
    width: 50%;
    order: 1;
    height: auto;
}
.caja4 {
    width: 100%;
    height: auto;
}
.caja2, .caja3 {
    height: 50%;
}
.caja5 {
    width: 50%;
    order: 2;
    height: auto;

}